In [1]:
import streamlit as st
from datetime import date
import yfinance as yf
from plotly import graph_objs as go
import pandas as pd
import matplotlib.style as style
import matplotlib.pyplot as plt
import seaborn as sns
import json
from datamover import DataMover
from datamover import ModelPlot

2021-04-26 19:22:21.243 WARNING streamlit.watcher.file_watcher:
  For better performance, install the Watchdog module:

  $ xcode-select --install
  $ pip install watchdog

In [2]:
class ModelPlot:

    def __init__(self):
        style.use('seaborn-darkgrid')
        sns.set_context('notebook')
        sns.set_palette('gist_heat')

    def decomp_plot(self, df):
        plt.figure(figsize=(17,5))
        plt.plot(df)
        plt.plot(df.rolling(window = 12).mean().dropna(), color='g')
        plt.plot(df.rolling(window = 12).std().dropna(), color='blue')
        plt.title('Rolling mean')
        plt.legend(['item_cnt_month', 'mean', 'std'])

In [18]:
start = "2018-01-01"
stop = date.today().strftime("%Y-%m-%d")

In [26]:
df = yf.download('AAPL', start, stop)
df.reset_index(inplace=True)
df['Date'] = pd.to_datetime(df['Date'])

[*********************100%***********************]  1 of 1 completed

Date
2018-01-02     43.064999
2018-01-03     43.057499
2018-01-04     43.257500
2018-01-05     43.750000
2018-01-08     43.587502
                 ...
2021-04-19    134.839996
2021-04-20    133.110001
2021-04-21    133.500000
2021-04-22    131.940002
2021-04-23    134.320007
Name: Close, Length: 833, dtype: float64

In [72]:
train = []
date
for stock in ticker_list:
    df = load_data(stock)
    date = df['Date']
    train.append(df['Close'])
train_df  = pd.concat(train, axis=1)
train_df.columns = ticker_list
train_df.set_index(date, inplace=True)
train_df

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

                  AAPL        GOOG        MSFT        TSLA
Date
2018-01-02   43.064999   43.064999   43.064999   43.064999
2018-01-03   43.057499   43.057499   43.057499   43.057499
2018-01-04   43.257500   43.257500   43.257500   43.257500
2018-01-05   43.750000   43.750000   43.750000   43.750000
2018-01-08   43.587502   43.587502   43.587502   43.587502
...                ...         ...         ...         ...
2021-04-19  134.839996  134.839996  134.839996  134.839996
2021-04-20  133.110001  133.110001  133.110001  133.110001
2021-04-21  133.500000  133.500000  133.500000  133.500000
2021-04-22  131.940002  131.940002  131.940002  131.940002
2021-04-23  134.320007  134.320007  134.320007  134.320007

[833 rows x 4 columns]

In [71]:
load_datas(ticker_list)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

                  AAPL        GOOG        MSFT        TSLA
Date
2018-01-02   43.064999   43.064999   43.064999   43.064999
2018-01-03   43.057499   43.057499   43.057499   43.057499
2018-01-04   43.257500   43.257500   43.257500   43.257500
2018-01-05   43.750000   43.750000   43.750000   43.750000
2018-01-08   43.587502   43.587502   43.587502   43.587502
...                ...         ...         ...         ...
2021-04-19  134.839996  134.839996  134.839996  134.839996
2021-04-20  133.110001  133.110001  133.110001  133.110001
2021-04-21  133.500000  133.500000  133.500000  133.500000
2021-04-22  131.940002  131.940002  131.940002  131.940002
2021-04-23  134.320007  134.320007  134.320007  134.320007

[833 rows x 4 columns]

In [53]:
train[0]

AttributeError: 'Series' object has no attribute 'info'

In [70]:
# class DataMover:

    
#     def __init__(self, start, stop):
#         self.start = start
#         self.stop = stop

def load_data(ticker):
    df = yf.download('AAPL', start, stop)
    df.reset_index(inplace=True)
    df['Date'] = pd.to_datetime(df['Date'])
    return df[['Date', 'Close']]

def load_datas(ticker_list):
    train = []
    for stock in ticker_list:
        df = load_data(stock)
        date = df['Date']
        train.append(df['Close'])
    train_df  = pd.concat(train, axis=1)
    train_df.columns = ticker_list
    train_df.set_index(date, inplace=True)
    return train_df

def write_json(self, df, path):
    df.to_json(r'{}'.format(path))

def read_json(self, path):
    with open(path, "r") as file_ptr:
        obj = json.load(file_ptr)
    return obj

In [14]:



today = date.today().strftime("%Y-%m-%d")
mover = DataMover("2018-01-01", today)
ticker_list = ["AAPL", "GOOG", "MSFT", "TSLA"]

In [17]:
load_data('AAPL')

# df = mover.load_datas(ticker_list)
# mover.write_json(df, './data.json')

Exception in thread Thread-7:
Traceback (most recent call last):
  File "/usr/local/Cellar/python@3.9/3.9.4/Frameworks/Python.framework/Versions/3.9/lib/python3.9/threading.py", line 954, in _bootstrap_inner
    self.run()
  File "/usr/local/Cellar/python@3.9/3.9.4/Frameworks/Python.framework/Versions/3.9/lib/python3.9/threading.py", line 892, in run
    self._target(*self._args, **self._kwargs)
  File "/Users/Dom/Repos/Websites/docker_env/lib/python3.9/site-packages/multitasking/__init__.py", line 102, in _run_via_pool
    return callee(*args, **kwargs)
  File "/Users/Dom/Repos/Websites/docker_env/lib/python3.9/site-packages/yfinance/multi.py", line 167, in _download_one_threaded
    data = _download_one(ticker, start, end, auto_adjust, back_adjust,
  File "/Users/Dom/Repos/Websites/docker_env/lib/python3.9/site-packages/yfinance/multi.py", line 179, in _download_one
    return Ticker(ticker).history(period=period, interval=interval,
  File "/Users/Dom/Repos/Websites/docker_env/lib/python3.9/site-packages/yfinance/base.py", line 122, in history
    _time.strptime(str(start), '%Y-%m-%d')))
  File "/usr/local/Cellar/python@3.9/3.9.4/Frameworks/Python.framework/Versions/3.9/lib/python3.9/_strptime.py", line 562, in _strptime_time
    tt = _strptime(data_string, format)[0]
  File "/usr/local/Cellar/python@3.9/3.9.4/Frameworks/Python.framework/Versions/3.9/lib/python3.9/_strptime.py", line 349, in _strptime
    raise ValueError("time data %r does not match format %r" %
ValueError: time data '' does not match format '%Y-%m-%d'

KeyboardInterrupt: